@font-face {
    font-family: pokemon;
    src: url(Pokemon_Hollow.ttf);
}

textarea, input { outline: none; }

body{
    background-color: #3861ff;
    color: white;
}
h1{
    font-family: pokemon;
    color: #ffea12;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 50px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 15px;
    border: none;
    background-color: #3861ff;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
    border-bottom: solid 2px white;
}

.filter{
    padding-left: 20px;
    margin-bottom: 20px;
}

.poke-list table tr td {
    vertical-align: middle !important;
}

.poke-list table tr td img {
    width: 30px;
    height: 30px;
}

.poke-list table tr td span {
    margin-right: 5px;
}

.table-shadow {
    background-color: rgba(0,0,0,.2);
}


/* Pokemon Types*/
.type{
    color: white;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid;
}
.type-normal { background-color: #8a8a59; border-color: #79794e !important; }
.type-fire { background-color: #f08030; border-color: #b4530d !important; }
.type-water { background-color: #6890f0; border-color: #1753e3 !important; }
.type-electric { background-color: #f8d030; border-color: #c19b07 !important; }
.type-grass { background-color: #78c850; border-color: #4a892b !important; }
.type-ice { background-color: #98d8d8; border-color: #45b6b6 !important; }
.type-fighting { background-color: #c03028; border-color: #82211b !important; }
.type-poison { background-color: #a040a0; border-color: #662966 !important; }
.type-ground { background-color: #e0c068; border-color: #aa8623 !important; }
.type-flying { background-color: #a890f0; border-color: #7762b6 !important; }
.type-psychic { background-color: #f85888; border-color: #d60945 !important; }
.type-bug { background-color: #a8b820; border-color: #616b13 !important; }
.type-rock { background-color: #b8a038; border-color: #746523 !important; }
.type-ghost { background-color: #705898; border-color: #413359 !important; }
.type-dragon { background-color: #7038f8; border-color: #3d07c0 !important; }
.type-steel { background-color: #b8b8d0; border-color: #7a7aa7 !important; }
.type-dark { background-color: #705848; border-color: #362a23 !important; }
.type-fairy { background-color: #e898e8; border-color: #d547d5 !important; }
.type-curse { background-color: #68a090; border-color: #41685d !important; }

.pager li a {
    background-color: #ffea12;
    border: none;
    cursor: pointer;
}


/* poke-menu */

body {
    background-color: #3861ff;
}

.poke-menu {
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.poke-menu div {
    margin: 15px;
    cursor: pointer;
    background-color: #ff0000;
    -webkit-transform: skew(-5deg);
    -moz-transform: skew(-5deg);
    -o-transform: skew(-5deg);
    border-radius: 3px;
    border: 2px solid #dcdcdc;
    width: 70px;
    height: 30px;
    transition: all .1s ease-in-out;
}
.poke-menu div a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poke-menu div a:hover {
    text-decoration: none;
}
.poke-menu div:hover {
    text-decoration: none;
    background-color: #b20000;
    width: 80px;
    height: 35px;
}

/* poke-detail */
body {
    background-color: #3861ff;
}

.poke-menu {
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.poke-menu div {
    margin: 15px;
    cursor: pointer;
    background-color: #ff0000;
    -webkit-transform: skew(-5deg);
    -moz-transform: skew(-5deg);
    -o-transform: skew(-5deg);
    border-radius: 3px;
    border: 2px solid #dcdcdc;
    width: 70px;
    height: 30px;
    transition: all .1s ease-in-out;
}
.poke-menu div a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poke-menu div a:hover {
    text-decoration: none;
}
.poke-menu div:hover {
    text-decoration: none;
    background-color: #b20000;
    width: 80px;
    height: 35px;
}

.poke-detail-top{
    display: flex;
    align-items: center;
}
.poke-image {
    margin: 0 auto;
    width: 194px;
    height: 194px;
    border: 1px solid white !important;
    border-radius: 97px;
}
.poke-image img {
    width: 192px;
    height: 192px;
}
.poke-detail{
    margin-top: 20px;
}
.poke-detail h2 {
    text-align: center;
    padding-bottom: 15px;
}
.poke-detail h3 {
    width: 100%;
    border-bottom: 1px solid white;
}
.poke-detail .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
}
.poke-detail .stats div {
    width: 50%;
    display: flex;
    justify-content: center;
    min-width: 10px;
    font-size: 2em;
    margin-bottom: 20px;
}
.poke-detail .stats div svg {
    width: 50px;
    height: 50px;
}
.poke-detail .stats div p {
    margin-left: 10px;
}
.poke-detail .stats .attack svg {
    fill: lightgrey;
}
.poke-detail .stats .hp svg {
    fill: red;
}
.poke-detail .stats .defense svg {
    fill: lightblue;
}
.poke-detail .moves {
    font-size: 1.5em;
    font-style: italic;
}
.poke-detail .detail-type-section {
    display: flex;
    justify-content: space-around;
}
.poke-detail .detail-type {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: 2px solid;
    font-size: 1.5em;
}

.chevron{
    cursor: pointer;
}

.chevron::before {
    color: rgba(255, 255, 255, .7);
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 4em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 4em;
}
.chevron:hover{
    color: #ffffff;
    transform: scale(1.1);
}
.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}