<!DOCTYPE html>
<html lang="en" ng-app="PokeDexApp">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../img/pokeball.png"/>
    <script src="../node_modules/angular/angular.min.js"></script>

    <script src="app.js"></script>
    <script src="pokeListCtrl.js"></script>

    <title>EU PokeDex</title>
    <link rel="stylesheet"
          href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/pokedex.css">
</head>
<body>

    <h1>PokéDex</h1>

    <div class="filter col-sm-6 col-sm-offset-3">
        <input ng-model="pokename" id="name" placeholder="Pokemon" type="text">
        <input ng-model="poketype" id="name" placeholder="Type" type="text">
    </div>

    <div ng-controller="pokeListController as pokeListCtrl"  class="poke-list col-sm-6 col-sm-offset-3">
        <table class="table">
            <tr>
                <th>#</th>
                <th>image</th>
                <th>name</th>
                <th>type</th>
            </tr>

            <tr ng-repeat="pokemon in pokeListCtrl.pokedex | filter:pokename | filter:poketype"
                ng-class="$odd ? 'table-shadow' : '' "
                ng-click="pokeListCtrl.isAwesome(pokemon.name)">
                <td>{{pokemon.id}}</td>
                <td><img ng-src="../img/{{pokemon.id}}.png" /></td>
                <td>{{pokemon.name}}</td>
                <td>
                    <span ng-repeat="type in pokemon.type">{{type}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>