<!DOCTYPE html>
<html lang="en" ng-app="PokeDexApp">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../img/pokeball.png"/>
    <script src="../node_modules/angular/angular.min.js"></script>

    <script src="app.js"></script>

    <script src="filters/filters.module.js"></script>
    <script src="poke-list/poke-list.module.js"></script>
    <script src="poke-service/poke-service.module.js"></script>

    <script src="filters/numberformatFilter.js"></script>
    <script src="filters/titlecaseFilter.js"></script>
    <script src="poke-list/poke-list.component.js"></script>
    <script src="poke-service/poke-service.service.js"></script>

    <title>EU PokeDex</title>
    <link rel="stylesheet"
          href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/pokedex.css">
</head>
<body>

    <h1>PokéDex</h1>

    <div class="filter col-sm-6 col-sm-offset-3">
        <input ng-model="pokename" id="name" placeholder="Pokemon" type="text">
        <input ng-model="poketype" id="type" placeholder="Type" type="text">
    </div>

    <poke-list pokename="{{pokename}}" poketype="{{poketype}}"></poke-list>
</body>
</html>